@import "tailwindcss";

@font-face {
    font-family: "fira code";
    src: url("https://raw.githubusercontent.com/MinimumADHD/php_informatica_5di_2024-2025/refs/heads/main/fonts/FiraCode-Regular.woff2") format("woff2");
}

@theme {
    --font-fira: "fira code"
}